<%- include ('partials/header'); -%>
<div class="table-wrapper">
   <div><a class="buttonn buttonn4 float-right w3-button w3-xxxlarge w3-teal w3-hover-purple" href="/logoutt" title="logout">Logout</a></div> 
   <div><a class="buttonn buttonn4 float-right w3-button w3-xxxlarge w3-teal w3-hover-purple" href="/add" title="Add a New Product">ADD</a></div> 
   <div><a class="buttonn buttonn4 float-right w3-button w3-xxxlarge w3-teal w3-hover-purple" href="/profile" title="Profile">Profile</a></div> 
   <% if (product.length > 0) {%>
        <table class="table table-hovered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NAME</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% product.forEach((prod, index) => { %>
                    <tr>
                        <th scope="row"><%= prod.product_id %></th>
                        <td><%= prod.product_name %></td>
                        <td><%= prod.product_price %></td>
                        <td>
                            <a href="/edit/<%= prod.product_id %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                            <a href="/delete/<%= prod.product_id %>" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <p class="text-center">No product found. Go <a href="/add" >here</a> to add product.</p>
    <% } %>
</div>
</div>
</body>
<script src='loader.js'></script>
</html>